*{
    margin: 0;
    padding: 0;
}
.banner{
    /* position: fixed; */
    background-image: url(slider3.jpg);
    height: 650px;
    width: 100%;
    background-size: cover;
    background-color: black;
}
.lomo{
    height: 80px;
    width: 120px;
    margin-top: 75px;
    margin-left: 225px;
}
ul{
    list-style: none;
    font-size: 15px;
}
.nav{
    display: flex;
    background-color: transparent;
    position:fixed;
    background-color: black;
    width: 100%;
    z-index: 7;
}
.tabs{
    display: flex; 
    width: 550px;
    justify-content: space-between;
    margin-left: 450px;
    margin-top: 90px;
    /* text-decoration: solid; */
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: crimson;
    transition:all .5s ease-in ;
    text-decoration:underline black;
}
/* h6{
    color: white;
    font-size: large;
    margin-top:75PX;
} */
.sanmll{
    color: wheat;
    font-size: large;
    margin-top: 75px;
}
h1{
    color: white;
    font-size: 60px;
    margin-top: 5px;
    /* text-decoration: Oswald; */
}
.CENTER{
    margin-left: 200px;
    padding-top: 150px;
    /* margin-top: 15px; */
}
button{
    background-color: rgb(240, 60, 72);
    color: white;
    width: 170px;
    height: 40px;
    border-radius: 3px;
    /* border: none; */
    margin-top: 50px;
    margin-left: 25px;
}
button:hover{
    background-color: transparent;
    transition:all 1s ease-in ;
}
.about{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 75px;
}
.sing{
    height: 60px;
    width: 200px;
    margin-top: 50px;
}
p{
    color: grey;
    margin-top: 15px;
}
.color{
    font-size: 20px;
    /* margin-top: 50px; */
}
.text{
    width: 60%; 
    margin-left: 150px;
} 
.add{
    font-size: 45px;
    margin-top: 50px;
}
.col{
    margin-top: 70px;
}
.img{
    height: 350px; 
    width: 250px;
    margin-right: 210px;
    margin-left: 50px;
}
.inmg{
    height: 350px; 
    width: 250px;
    margin-left: 50px;
}  
.events{
    display: flex;
    width: 100%;
    margin-top: 100px;
    height: 700px;
}
.up{
    height: 650px;
    width: 800px;
    z-index: 2;
    position: absolute;
}
.event{
    background-color:  #FF3F4C;
    margin-top: 50px;
    height: 670px;
    width: 850px;
    position: absolute;
    z-index: 1;
    margin-left: 670px;
}
.ss{
    margin-left: 150px;
    height: 500px; 
    margin-top: 75px;
    width: 650px;
}
.menu{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    /* width: 80%; */

}
.big{
    color: black;
    margin-top: 15px;
    margin-bottom: none;
    font-size: 25px;
}
.one{
   margin-left: 200px;
}
b{
    margin-left: 100px;
}
.ki{
    margin-left: 220px;
}
.ti{
    margin-left: 180px;
}
.ji{
    margin-left: 140px;
}
.ni{
    margin-left: 200px;
}
.hi{
    margin-left: 230px;
}
.gi{
    margin-left: 200px;
}
.two{
    margin-right: 200px;
}
.non{
    margin-top: 70px;
    margin-left: 650px;
    color: black;
    font-size: 40px;
}
.fun{
    font-size: 20px;
    margin-left: 450px;
}
.video{
    margin-top: 100px;
    background-image: url(restaurant-6.jpg);
    /* opacity: 50%; */
    background-size: cover;
    width: 200pxs;
    height: 800px;
}
.upper{
    height:600px ;
    width: 1200px;
    border: 2px solid greenyellow;
    margin-top: 100px;
    margin-left: 150px;
}
.staff{
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 75px;
    /* display: flex; */
}
.staaf{
    display: flex;
    margin-top: 75px;
    justify-content: center;
}
.lol{
    text-align: center;
    line-height: 0;
}
.mid{
    text-align: center;
}
.centerr{
    text-align: center;
    line-height: 0;
    margin-bottom: 10px;
}
.px{
    height: 230px;
    width: 250px;
    margin-top: 10PX;
    margin-left: 30px;
    border-radius: 50%;
}
h3{
    text-align: center;
    color: black;
}
.staf1{
    box-shadow: 1px 1px 1px 1px gray ;
    height: 450px;
    width: 300px;
}
.no{
    font-size: 30px;
}
.noo{
    text-align: center;
    font-size: large;
    margin-top: 10px;
    color: gray;
}
.kij{
    text-align: center;
    font-size: large;
    margin-top: 10px;
}
.bee{
    text-align: center;
    font-size: large;
    margin-top: 10px;
    color: gray;
}
i{
    font-size: 20px;
    margin-top: 25px;
    /* text-align: center; */
    color: crimson;
    margin-left: 50px;
}
.staf2{
    margin-left: 30px;
    box-shadow: 1px 1px 1px 1px gray;
}