*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background-color: black;
    width: 100%;
    height: 75px;
    position:sticky;
    opacity: .8;
    top: 0;
}
.img{
    height:25px;
    width: 125px;
    margin-left: 50px;
    margin-top: 25px;
}
a{
    color: aliceblue;
    text-decoration: none;
    /* position: fixed; */
}
.all-a{
    width: 550px; 
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
    padding-left: 50px;
    font-size: larger;
}
.jail:hover{
    background-color: bisque;
    border-radius: 10px;
    color: #000;
}
.jail{
   padding: 10px;
}
.line{
    height: 40px;
    width: 2px;
    background-color:#fff;
    margin-top: 10px;
    margin-left: 25px;
}
.jail1{
    margin-left: 20px;
}
.v1{
    color: #fff;
    margin-left: 380px;
    /* margin-top: 27px; */
    height: 30px;
    width: 30px;
    padding-top: 7px;
}
.v2:hover{
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}
.v1:hover{
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}
.lang:hover{
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}
.lang{
    margin-left: 15px;
    font-size: larger;
    padding: 10px;
}
.v2{
    padding-top: 7px;
    margin-left: 15px;
    margin-top: 25px;
    height: 30px;
    width: 30px;
}
.img1{
    margin-top: 20px;
    margin-left: 35px;
    margin-top: 20px;
    padding: 4px;
    height: 35px;
    width: 35px;
}
.img1:hover{
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}
.Pray{
    border: none;
    height: 45px;
    width: 100px;
    margin-top: 13px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: rgb(52, 117, 222);
    color: #fff;
    transition: all ease .5s;
}
.Pray:hover{
    background-color: rgb(66, 138, 255);
    /* box-shadow: -2px 2px rgb(66, 138, 255); */
        box-shadow: -1px -2px 2px 2px rgb(237, 216, 101);
    scale: 1.09;
}
.contain{
    background-image: url(download.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover;
}
.head{
    color: #fff;
    font-size: 55px;
    padding-top: 75px;
    padding-left: 50px;
}
.para{
    color: #fff;
    font-size: x-large;
    margin-left: 60px;
    margin-top: 50px;
}
.Prayx{
    color: #000;
    background-color: beige;
    height: 65px;
    width: 250px;
    font-size: larger;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 50px;
    transition: all ease .5s;
}
.Prayx:hover{
    scale: 1.05;
    background-color: rgb(190, 188, 188);
    /* box-shadow: -1px -2px 2px 2px rgb(237, 216, 101); */
}
.contain2{
    background-image: url(download\ \(1\).jpeg);
    height: 700px;
    background-size: cover;
}
.contain3{
    height: 700px;
    width: 100%;
    background-color: #000;
    display: flex;  
    padding-top: 50px;
}
.right{
    width: 50%;
}
.left{
    height: 500px;
    width: 45%  ;
}
.imgs{
    padding: 8px;
    height: 200px;
    width: 250px;
    border-radius: 25px;
}
.imgs:hover{
    box-shadow: 2px 2px 2px 2px rgb(237, 216, 101);
    scale: 1.03;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(94, 93, 93);
}
.img7{
    margin-left: 45%;
}
.pop{
    margin-left: 33%;
    font-size: x-large;
}