* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(fit_banner_bg.jpg);
    background-size: cover;
    width: 100%;
    /* height: 700px; */
    padding-bottom: 100px;
}

.nav {
    display: flex;
    padding-top: 50px;
}

.logo {
    margin-left: 100px;
    padding-left: 80px;
    /* margin-top: 50px */
}

li {
    list-style: none;
}

a {
    color: white;
    margin-top: 50px;
    text-decoration: none;
    margin-left: 30px;
    font-size: larger;
    transition: all 1s ease-in-out;
}

a:hover {
    color: orange;
}

.padding {
    margin-left: 300px;
}

.by {
    font-size: xx-large;
    margin-left: 50px;
    color: white;
}

i {
    color: whitesmoke;
    margin-left: 20px;
    transition: all 1s ease-in-out;
}

i:hover {
    color: orange;
}

.linner {
    height: 2px;
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    margin-top: 15px;
}

.size {
    color: white;
    font-size: 50px;
    margin-left: 160px;
}

.pop {
    margin-top: 150px;
}

.sizes {
    color: white;
    margin-left: 160px;
    font-size: x-large;
}

.veiw {
    margin-left: -90px;
}

.poop {
    margin-top: 25px;
}

.more {
    height: 50px;
    width: 130px;
    margin-left: 160px;
    margin-top: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transform: skew(-15deg);
}

.join {
    height: 50px;
    width: 130px;
    margin-left: 50px;
    background-color: chocolate;
    border: none;
    color: white;
    transform: skew(-15deg);
}

.main2 {
    background-image: url(blog_bg.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    padding-bottom: 400px;
    /* margin: 0 auto; */
}

.parent {
    height: 50px;
    width: 760px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 25%;
}

.child {
    background-color: orangered;
    width: 250px;
}

.childs {
    height: 50px;
    width: 250px;
}

.upper {
    height: 25px;
    margin-top: 5px;
    /* background-color: orangered ; */
}

.lower {
    height: 25px;
    background-color: orangered;
    width: 250px;
}

.king {
    background-color: transparent;
    border: 2px solid orangered;
}

.bold {
    color: aliceblue;
    font-size: x-large;
    text-align: center;
    margin-top: 8px;
}

.paren-2 {
    width: 860px;
    background-color: orangered;
    height: 250px;
    margin-left: 21%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chilid {
    height: 250px;
    width: 33%;
}

.line {
    height: 220px;
    width: 2px;
    background-color: aliceblue;
}

.lorem {
    font-size: large;
    color: white;
    margin-left: 40px;
    margin-top: 80px;
}

.tag {
    padding: 10px;
    color: gray;
}

.ipad {
    margin-left: 60px;
    font-size: large;
    margin-top: 75px;
}

.popo {
    /* padding: 10px; */
    /* display: inline;  */
    color: gray;
    margin-left: 75px;
    margin-top: 5px;
}

.ss {
    font-size: x-large;
    margin-left: 65px;
}

.abus {
    height: 50px;
    width: 130px;
    margin-left: 45%;
    background-color: chocolate;
    border: none;
    color: white;
    transform: skew(-15deg);
    margin-top: 50px;
    transition: all 1s ease-in-out;
}

.abus:hover {
    color: orangered;
    background-color: transparent;
}

.margin {
    margin-left: 450px;
    margin-top: 15px;
    color: wheat;
}

.magg {
    margin-left: 550px;
}

.paren-1 {
    display: flex;
    width: 900px;
    margin-top: 50px;
    margin-left: 19%;
}

.rightt {
    background-color: orangered;
    border-radius: 20px;
}

.two {
    width: 50%;
    height: 400px;
    /* background-color: aliceblue; */
    margin-left: 50px;
}

.imgs {
    /* height: 50%; */
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

.vid {
    height: 440px;
    width: 360px;
    background-color: rgb(1, 1, 73);
    border-radius: 20px;
    position: absolute;
    left: 807px;
    top: 1200px;
    z-index: 5;
}

.ptag {
    font-size: larger;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 30px;
}

.class,
.roll {
    padding: 20px;
    color: rgb(182, 177, 177);
}

.burn {
    padding: 15px 25px;
    background-color: transparent;
    border: 2px solid white;
    color: aliceblue;
    margin-left: 20px;
    transition: all 1s ease-out;
}

.burn:hover {
    border: none;
    color: orangered;
    background-color: rgb(1, 1, 73);
}

.skew {
    height: 50px;
    width: 200px;
    background-color: rgb(1, 1, 73);
    transform: skew(-20deg);
    margin-left: 700px;
}

.main-4 {
    width: 100%;
    height: 750px;
    background-color: rgb(1, 1, 73);
}

.burnn {
    color: aliceblue;
    background-color: orangered;
    height: 50px;
    width: 200px;
    font-size: larger;
    border: none;
    margin-left: 690px;
    margin-top: 25px;
    transform: skew(-15deg);
    transition: all 1s ease;
}

.burnn:hover {
    transform: none;
    color: orangered;
    background-color: #fff;
    box-shadow: black 10px 8px 5px;
}

.sab {
    margin-left: 550px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: aliceblue;
}

.think {
    margin-left: 650px;
    color: aliceblue;
}

.paren-3 {
    height: 250px;
    width: 880px;
    /* display: flex; */
    /* justify-content: space-between; */
    margin-left: 300px;
    margin-top: 50px;
}

.father {
    height: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.bachha {
    height: 250px;
    width: 32%;
    border: 3px dashed black;
}

.lime {
    height: 2px;
    width: 50px;
    background-color: orangered;
    margin-left: 120px;
}

.rope {
    font-size: x-large;
    color: aliceblue;
    margin-left: 60px;
    margin-top: 50px;
}

.sajid {
    font-size: larger;
    color: rgb(182, 177, 177);
    margin-left: 65px;
    margin-top: 25px;
    /* margin-top: 5px; */
}

.Mohtesham {
    font-size: larger;
    color: rgb(182, 177, 177);
    margin-left: 40px;
    margin-top: 5px;
}

.ayan {
    font-size: larger;
    color: rgb(182, 177, 177);
    margin-left: 65px;
    margin-top: 5px;
}

.Sujayet {
    font-size: larger;
    margin-top: 5px;
    color: rgb(182, 177, 177);
    margin-left: 50px;
}

.last-main {
    background-image: url(trainer_bg.jpg);
    /* height: 500px; */
    padding-bottom: 50px;
    width: 100%;
    background-size: cover;
}

.imgpara {
    display: flex;
    padding-left: 25%;
    padding-top: 50px;
}

.mall {
    margin-left: 30%;
    color: aliceblue;
    margin-top: 5px;
}

.tall {
    margin-left: 38%;
    color: aliceblue;
    margin-top: 5px;
}

.paraimg {
    border-radius: 25px;
}

.deam {
    margin-left: 15px;
    color: aliceblue;
    margin-top: 15px;
}

.hyfen {
    color: aliceblue;
    margin-top: 15px;
    margin-left: 28%;
}

.hifen {
    color: aliceblue;
    margin-top: 10px;
    margin-left: 40%;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding-left: 250px;
    margin-top: 50px;
}

.link {
    height: 380px;
    width: 420px;
}

.upi {
    font-size: x-large;
    /* padding-left: 20px; */
    text-decoration: underline dashed orangered;
}

.upi,
.water,
.call {
    color: aliceblue;
    padding: 25px;
}

.big {
    margin-left: 20px;
    padding-bottom: 20px;
}

.call {
    padding-bottom: 50px;
}

.con8 {
    background-image: url(/blog_bg.jpg);
    width: 100%;
    background-size: cover;
    height: 900px;
    position: absolute;
    /* bottom: -5850px; */
}

.rb1 {
    height: 600px;
    width: 90%;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.child1 {
    height: 600px;
    width: 30%;
    background-color: white;
}

.child2 {
    height: 600px;
    width: 30%;
    background-color: white;
}

.child3 {
    height: 600px;
    width: 30%;
    background-color: white;
}

.minichild {
    /* background-color: black; */
    width: 100%;
    height: 300px;
}

.minichild1 {
    background-color: rgb(0, 0, 28);
    width: 27%;
    height: 300px;
    position: absolute;
}

.a1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 15px;
}

.a2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin-left: 15px;
    margin-top: 20px;
}

.a3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    margin-left: 15px;
    margin-top: 20px;
}

.t-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-left: 650px;
    /* padding: 25px; */
    width: 200px;
    height: 50px;
    border-radius: 10px;
    transform: skew(-15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

.t-2 {
    /* background-color: red; */
    width: 100%;
    height: 100px;
    text-align: center;
}

.t-3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    margin-top: 30px;
}

.mmain-father {
    height: 550px;
    width: 100%;
    position: absolute;
    top: 5690px;
    background-color: rgba(16, 27, 49, 255);
}

.container {
    display: flex;
    height: 500px;
    width: 80%;
    margin-top: 25px;
    padding-left: 200px;
}

.main-child {
    width: 55%;
    /* background-color: #fff; */
}

.main-childs {
    width: 35%;
    /* background-color: #fff; */
    margin-left: 50px;
}

.bmi {
    font-size: xx-large;
    padding-top: 10px;
    padding-left: 30px;
    color: aliceblue;
}

.okk {
    padding: 0 30px;
    color: rgb(212, 221, 228);
    margin-top: 10px;
}

.moree,
.joinn {
    /* padding: 25px; */
    width: 100px;
    background-color: orangered;
    height: 45px;
    border: none;
    /* margin-left: 35px; */
    transform: skew(-15deg);
    margin-top: 20px;
    color: aliceblue;
    transition: all 1s ease-in;
}

.moree:hover {
    border: 1px #fff solid;
    color: #000;
    background-color: transparent;
}

.moree {
    margin-left: 25px;
}

.joinn {
    background-color: transparent;
    border: 2px solid white;
}

.joinn:hover {
    color: #000;
    background-color: orangered;
    border: none;
}

input {
    margin-top: 25px;
    margin-left: 10px;
    background-color: transparent;
    color: rgb(182, 177, 177);
    padding: 15px;
    width: 250px;
    border-radius: 25px;
}

select {
    height: 40px;
    width: 180px;
    color: rgb(182, 177, 177);
    background-color: transparent;
    margin-top: 40px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 25px;
}

.mingal {
    margin: 0 25px;
    height: 40px;
    width: 180px;
}

p {
    color: aliceblue;
}

.bibi {
    display: flex;
    margin-top: 25px;
}

.orange {
    color: orangered;
    margin-left: 5px;
    font-size: x-large;
}

.matter {
    height: 350px;
    margin-top: 20px;
}

.box {
    height: 50px;
    width: 50%;
    background: orangered;
    margin-top: 1450px;
}

.boxs {
    height: 50px;
    width: 50%;
    background: rgba(6, 17, 39, 245);
    margin-top: 1450px;
}

.boxfat {
    display: flex;
}

.upfoot {
    display: flex;
}

.ourtime {
    font-size: xx-large;
    color: aliceblue;
    margin-left: 300px;
    margin-top: 50px;
}

.cllass {
    font-size: x-large;
    margin-left: 95px;
    margin-top: 50px;
}

.position {
    position: absolute;
    font-size: large;
    top: 6380px;
    right: 740px;
    color: gray;
}

.vall {
    margin-left: 150px;
}

.nall {
    left: 900px;
}

.lines {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 50px;
}

.downfoot {
    display: flex;
    margin-top: 50px;
    /* justify-content: space-between; */

}

.lowfoot {
    height: 400px;
    width: 200px;
    margin-left: 200px;
}

.saiz {
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
}

.glas {
    margin: 0;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.lowfoot1 {
    width: 200px;
    /* margin-right: 50px; */
    margin-left: 75px;
}

.rope1 {
    font-size: x-large;
}

.lime1 {
    height: 4px;
    width: 50px;
    background-color: orangered;
}

ul {
    color: aliceblue;
}

.july {
    color: orangered;
    margin: 10px 0;
}

.lowfoot2 {
    /* margin-right: 100px; */
    margin-left: 75px;
    width: 200px;
}

.lowfootlast {
    /* margin-right: 100px */
    margin-left: 75px;
    width: 400px;
}

.imglast {
    margin-top: 20px;
    border-radius: 5px;
}

.mainfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(1, 1, 73);
}